:root {
    --button-color: #df1717;
    --button-margin: #df1717;
}


/* BOXES AND CONTAINERS */
/* ------------------------------------------------------------------------------------------------------- */

body {
    margin: 0;
}

.login-page-pw-ch,
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background: #bbbbbb;
}

.login-page-pw-ch {
    background: #eeeeee;
    flex-direction: column;
    gap: 15px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 40%;
    padding: 100px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 50px;
    background-color: #fff;
    box-sizing: border-box;
}

.login-info {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    font-size: 18px;
    background: #eeeeee;
}

.images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    flex-grow: 1;
}

.login-credentials {
    display: flex   ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 15px;
    border: 1px solid #000; 
    padding: 25px;
    padding-left: 55px;
    padding-right: 55px;

    gap:20px;
    font-size: 18px;

    flex-grow: 4;
}

.login-footnote {
    display: flex;
    font-family: sans-serif;
    align-items: flex-end;
    height: 10%;

    flex-grow: 1;
}

/* ------------------------------------------------------------------------------------------------------- */

/* OTHER ELEMENTS */


/* ------------------------------------------------------------------------------------------------------- */


.myButton-mini,
.myButton {
    height: 40px;
    width: 150px;
    font-size: 18px;
    background-color: var(--button-color);
    border-color: var(--button-margin);
    color:#fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.myButton-mini {
    height: 25px;
    width: 100px;
    font-size: 14px;
}

.myButton-mini:hover,
.myButton:hover {
    transform: translateY(2px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.uzh-image,
.fire-image {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}


.myLabelAndCell {
    display: flex;
    align-items: center;
    margin-bottom: 10px;   
}

.myLabelAndCell label {
    width: 35%;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.myLabelAndCell .myInsertionCell {
    width: 65%;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 1px;
}

.myInsertionCell {
    height: 30px;
    font-size: 14px;
}


/* ------------------------------------------------------------------------------------------------------- */
