:root {
    --button-color: #df1717;
    --button-margin: #df1717;
}


/* BOXES AND CONTAINERS */
/* ------------------------------------------------------------------------------------------------------- */

body {
    margin: 0;
}

.title-text {
    font-family:'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
    color: #555555;
}

.login-page-man-hub,
.login-page-pw-ch,
.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    background: #bbbbbb;
}

.login-page-man-hub {
    flex-direction: row;
    gap: 150px;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    padding: 0px 100px 0px 100px;
    margin-top: 50px;
    background-color: #fff;
    box-sizing: border-box;
    gap: 20px;
}

.login-info {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px 0px 0px;
    font-size: 18px;
    background: #bbbbbb;
}

.images-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 20%;
}

.login-credentials {
    display: flex   ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 15px;
    border: 1px solid #000; 
    padding: 25px 45px 10px 45px;
    /*padding-left: 45px;
    padding-right: 45px;*/

    gap:20px;
    font-size: 18px;

    flex-grow: 4;
}

.login-footnote {
    font-family: sans-serif;
    color: #555555;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------- */

/* OTHER ELEMENTS */


/* ------------------------------------------------------------------------------------------------------- */

.myButton-mini-user,
.myButton-mini,
.myButton {
    height: 40px;
    width: 150px;
    font-size: 18px;
    background-color: var(--button-color);
    border-color: var(--button-margin);
    color:#fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.myButton-mini-user,
.myButton-mini {
    height: 25px;
    width: 100px;
    font-size: 14px;
}

.myButton-mini-user:hover,
.myButton-mini:hover,
.myButton:hover {
    cursor: pointer;
    transform: translateY(2px);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
}

.uzh-image,
.fire-image {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
}


.myLabelAndCell {
    display: flex;
    align-items: center;
    margin-bottom: 10px;   
}

.myLabelAndCell label {
    width: 100px;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 16px;
}

.myLabelAndCell .myInsertionCell {
    flex-grow: 1;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 1px;
    height: 30px;
    font-size: 14px;
}




/* ------------------------------------------------------------------------------------------------------- */




.hidden {
    display: none;
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    position: absolute;
    right: 20px;
    top: 60px;
    height: 80px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    padding: 10px;
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu button {
    display: block;
    width: 100%;
}



.left-side,
.right-side {
    height: 30%;
    width: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 10px 0px 10px;
    background-color: #fff;
}

.left-side label,
.right-side label {
    font-weight: bold;
    font-size: 18px;
}


.side-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 80%;
}