<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change password</title>
    <link rel="stylesheet" href="../static/change_pw.css">
</head>
<body>
    <div class="login-page-pw-ch">
        <div class="change-password-box">
            <div class="images-row">
                <img src="../static/FIRE_UZH.png" alt="FIRE-UZH logo" class="fire-uzh-logo">
            </div>

            <div class="zone-footnote">
                <div class="zone-row">
                    <div style="margin: 0px 100px 0px 100px; font-size: 20px; font-family: 'Avenir Next LT Pro', sans-serif;" id="change_password_text">
                        Before successfully terminating the connection between FIRE and Heureka, a password update is required, to secure your account even more. Please type a new password which will be used for subsequent accesses.
                    </div>
                    
        
                    <form class="login-credentials" method="post">
                        <div class="myLabelAndCell">
                            <label for="password" id="pw_text">Password:</label>
                            <input class="myInsertionCell" type="password" id="password" name="password" required autocomplete="off">
                        </div>
                        <div class="myLabelAndCell">
                            <label for="password_conf" id="cnf_pw_text">Confirm password:</label>
                            <input class="myInsertionCell" type="password" id="password_conf" name="password_conf" required autocomplete="off">
                        </div>
                        <button type="submit" class="myButton" style="width:270px; margin: 10px 0px 0px 162px" id="pw_button">Confirm</button>
                    </form>
                </div>

                <div class="footnote">
                    &copy; IHAMZ (2025), Version 1.0
                </div>
            </div>
        </div> 
    </div>

    <script>
        let userLanguage = navigator.language || navigator.userLanguage;

        const translations = {
            en: {
                change_password_text: "Before finalizing the connection between FIRE and Heureka, you need to update your password for added security. Please set a new password, which will be required for future logins.",
                pw_text: "Password",
                cnf_pw_text: "Confirm password",
                pw_button: "Confirm"
            },
            de: {
                change_password_text: "Bevor die Verbindung zwischen FIRE und Heureka hergestellt werden kann, müssen Sie Ihr Passwort aus Sicherheitsgründen aktualisieren. Bitte legen Sie ein neues Passwort fest, das für zukünftige Anmeldungen erforderlich ist.",
                pw_text: "Passwort",
                cnf_pw_text: "Passwort bestätigen",
                pw_button: "Bestätigen"
            },
            fr: {
                change_password_text: "Avant de finaliser la connexion entre FIRE et Heureka, vous devez mettre à jour votre mot de passe pour plus de sécurité. Veuillez définir un nouveau mot de passe, qui sera nécessaire pour les connexions futures.",
                pw_text: "Mot de passe",
                cnf_pw_text: "Confirmer mot de passe",
                pw_button: "Confirmer"
            },
            it: {
                change_password_text: "Prima di finalizzare la connessione tra FIRE e Heureka, è necessario aggiornare la password per una maggiore sicurezza. Si prega di impostare una nuova password, che sarà necessaria per gli accessi in futuro.",
                pw_text: "Password",
                cnf_pw_text: "Conferma password",
                pw_button: "Conferma"
            }
        };

        let selectedLang = "en";

        if (translations[userLanguage]) {
            selectedLang = userLanguage;
        } else {
            selectedLang = "en";
        }

        document.getElementById("change_password_text").textContent = translations[selectedLang].change_password_text;
        document.getElementById("pw_text").textContent = translations[selectedLang].pw_text;
        document.getElementById("cnf_pw_text").textContent = translations[selectedLang].cnf_pw_text;
        document.getElementById("pw_button").textContent = translations[selectedLang].pw_button;
    </script>
</body>
</html>