<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="login-page-pw-ch">
        <div class="change-password-box">
            <div class="images-row">
                <img src="../static/fire_logo.png" alt="Fire logo" class="fire-image">
                <img src="../static/uzh_logo.png" alt="UZH logo" class="uzh-image">
            </div>

            <div style="margin: 0px 50px 0px 50px; font-size: 18px">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
            

            <form class="login-credentials" method="post">
                <div class="myLabelAndCell">
                    <label for="password" style="font-family: Arial, sans-serif;">Password:</label>
                    <input class="myInsertionCell" type="password" id="password" name="password" required autocomplete="off" style="font-family: Arial, sans-serif;">
                </div>
                <div class="myLabelAndCell">
                    <label for="password_conf" style="font-family: Arial, sans-serif;">Confirm password:</label>
                    <input class="myInsertionCell" type="password" id="password_conf" name="password_conf" required autocomplete="off" style="font-family: Arial, sans-serif;">
                </div>
                <button type="submit" class="myButton" style="width:270px; margin: 10px 0px 0px 110px">Confirm</button>
            </form>
        </div> 
    </div>
</body>
</html>