<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-page-pw-ch">
        <button class="myButton" onclick="window.location.href='/heureka_authorize'">RENEW</button>
        <button class="myButton" onclick="window.location.href='/heureka_update'">UPDATE</button>
        <button class="myButton" onclick="window.location.href='/heureka_revoke'">DELETE</button>
        <button class="myButton" onclick="window.location.href='/heureka_api'">DOWNLOAD</button>
    </div>
</body>
</html>