<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script type="text/javascript">
                alert("{{ messages[0] }}");
            </script>
        {% endif %}
    {% endwith %}
    <div class="login-page">
        <div class="login-box">
            <p class="title-text">LOGIN</p>
            <div class="images-row">
                <img src="{{ url_for('static', filename='fire_logo.png') }}" alt="Fire logo" class="fire-image">
                <img src="{{ url_for('static', filename='logo_ihamz.png') }}" alt="UZH logo" class="uzh-image">
            </div>
            

            <form class="login-credentials" method="post" action="{{ url_for('login') }}">
                <div class="myLabelAndCell">
                    <label for="username" style="font-family: Arial, sans-serif;">Username:</label>
                    <input class="myInsertionCell" type="text" id="username" name="username" required autocomplete="off" style="font-family: Arial, sans-serif;">
                </div>
                <div class="myLabelAndCell">
                    <label for="password" style="font-family: Arial, sans-serif;">Password:</label>
                    <input class="myInsertionCell" type="password" id="password" name="password" required autocomplete="off" style="font-family: Arial, sans-serif;">
                </div>
                <button type="submit" class="myButton">Login</button>
            </form>

            <div class="login-footnote">
                Institut für Hausarztmedizin    
            </div>
        </div> 
    </div>


    <script>
        if (performance.navigation.type == 2) {
            window.location.href = '/login';
        }
    </script>
</body>
</html>