<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-page">
        <img src="{{ url_for('static', filename='fire_logo.png') }}" alt="Fire logo" class="fire-image">

        <form class="login-credentials" method="post">
            <div class="myLabelAndCell">
                <label for="username">Username:</label>
                <input class="myInsertionCell" type="text" id="username" name="username" required>
            </div>
            <div class="myLabelAndCell">
                <label for="password">Password:</label>
                <input class="myInsertionCell" type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="myButton">Login</button>
        </form>
    </div>
</body>
</html>